<div data-ng-controller="AccountsController" id="main" class="container-fluid" style="width:119%;margin-left:-10%;margin-top:1%" data-ng-show="authentication.user">
	<!--Start Breadcrumb-->
		<div class="row" style="width:86%;float:right;">
			<div id="breadcrumb" class="col-xs-12">
				<a href="#" class="show-sidebar">
					<i class="fa fa-bars"></i>
				</a>
				<ol class="breadcrumb pull-left">
					<li><a href="/#!/userhome">Home</a></li>
					<li><a href="/#!/accountDetailPage">Accounts</a></li>
				</ol>
			</div>
		</div>
		<!--End Breadcrumb-->
	<div class="row" style="min-height:100%;">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
			    <li>
					 <a class="ajax-link" href="/#!/userhome">
						 <span class="hidden-xs">Home</span>
					 </a>
				</li>
				<li>
					 <a class="ajax-link" href="/#!/accountDetailPage">
						 <span class="hidden-xs">Accounts</span>
					 </a>
				</li>
				<li>
					 <a class="ajax-link" href="/#!/contactDetailPage">
						 
						 <span class="hidden-xs">Contacts</span>
					</a>
				</li>
			</ul> 
	  </div>
	  
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10" style="margin-top:-1.5%;">
			<div class="preloader">
			
			<section >
			<div class="page-header">
					<h1>Add Account</h1>
					<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="box">
							<div class="box-header">
								
							<div class="no-move"></div>
							</div>
							<div class="box-content">
								<h4 class="page-header">New Account</h4>
								<form class="form-horizontal" role="form" data-ng-submit="create()" novalidate>
									<div class="form-group">
									<input type="hidden" data-ng-model="id__C" id="id__C" class="form-control" data-placement="bottom"/>
										<label class="col-sm-2 control-label">First name</label>
										<div class="col-sm-4">
											<input type="text" data-ng-model="firstName__C" id="firstName__C" class="form-control" placeholder="First name"  data-placement="bottom" >
										</div>
										<label class="col-sm-2 control-label">Last name</label>
										<div class="col-sm-4">
											<input type="text" data-ng-model="lastName__C" id="lastName__C" class="form-control" placeholder="Last name"  data-placement="bottom" >
										</div>
										
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label">Company</label>
										<div class="col-sm-4">
											<input type="text" data-ng-model="company__C" id="company__C" class="form-control" placeholder="Company name"  data-placement="bottom" >
										</div>
										<label class="col-sm-2 control-label">Phone</label>
										<div class="col-sm-4">
											<input type="text" data-ng-model="phone__C" id="phone__C" class="form-control" placeholder="Phone Number" data-placement="bottom" >
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label">Address</label>
										<div class="col-sm-4">
											<input type="text" data-ng-model="address__C" id="address__C" class="form-control" placeholder="Address"  data-placement="bottom" >
										</div>
										<label class="col-sm-2 control-label">Date</label>
										<div class="col-sm-4">
											<input type="date" data-ng-model="date__C" id="date__C" class="form-control" >
										</div>
									</div>
									
									
									<div class="form-group">
										<label class="col-sm-2 control-label">Country</label>
										<div class="col-sm-4">
											<select id="s2_with_tag"  data-ng-model="country__c" class="populate placeholder">
												
												<option selected>--None--</option>
												<option>Australia</option>
												<option>Brazil</option>
												<option>Canada</option>
												<option>England</option>
												<option>India</option>
												<option>japan</option>
												<option>Malaysia</option>
												<option>Singapore</option>
												<option>South Africa</option>
												
											</select>
										</div>
										
									</div>
									
									<div class="clearfix"></div>
									<div class="form-group">
										<div class="col-sm-offset-5 col-sm-1">
											<button type="submit" class="btn btn-primary btn-label-left">
												save
											</button>
										</div>
										
									</div>
									
									</div>
									
								</form>
							</div>
						</div>
				</div>
				</div>
				
				<div class="page-header" style="height:100%;">
					<h1>List of Accounts</h1>
					<div class="gridStyle" ng-grid="gridOptions" data-ng-click="findOnebyId();">
						<div style="margin-left:50%;"class="btn btn-primary" data-ng-click="findOnebyIdtoEdit();">
							<i class="glyphicon glyphicon-edit"></i>
						</div>
						<div class="btn btn-primary" data-ng-click="remove();">
							<i class="glyphicon glyphicon-trash"></i>
						</div>
					</div>
				</div>
				
		     </section>
			</div>
		</div>
		<!--End Content -->
	</div>
</div>
</div>

